@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    @apply flex flex-col h-screen
}

.nav-button {
    @apply block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent
}

.login-logout {
    @apply text-blue-400 hover:text-blue-600 font-bold cursor-pointer
}

.btn_sm {
    @apply bg-blue-500 px-3.5 text-white duration-150 hover:bg-blue-600 rounded-md
}

.btn_md {
    @apply inline-flex items-center justify-center align-middle ml-2 bg-blue-500 px-5 py-2 text-white duration-150 hover:bg-blue-600 rounded-md
}

